:root
{
    --TitleColor: #0077C0;
    --LinkColor: #1D242B;
    --BackgroundColor: #FAFAFA;
    --LighttitleColor:#C7EEFF;
}


*{
    margin: 0 auto;
    padding: 0;
    box-sizing:content-box;
    font-family:'Beiruti', Tahoma, Geneva, Verdana, sans-serif;
}

span, .material-icons
{
    font-size:  0.5em;
    color: #C7EEFF;

}

a{
    text-decoration: none;
    color: var(--LinkColor);
}

body
{
    background-color: var(--BackgroundColor);
}
.container
{
    margin: 0 auto;
    padding: 0px 15px;
}


/* -- -- Header Style -- -- */
.header-con
{
    position: relative;
    box-shadow: 0px 7px 15px 5px rgb(29 36 43 / 10%);
    background-color: var(--TitleColor);
    overflow: hidden;
}
.lang
{
    position: absolute;
    left: 30px;
    top: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.info > span,
.lang > span
{
    color: #FAFAFA;
    font-size: 20px;
}

.logo-con{
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--LinkColor);
}

.logo-con .logo{
    max-width: 200px;
    padding: 15px 0px;
}


.links-con
{
    display: flex;
    position: relative;
    justify-content: center;
    overflow-x: auto;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.links-con::-webkit-scrollbar {
  display: none;  
}
.links-con .list-links
{
    list-style-type: none;
    display: flex;
}

.links-con .list-links .Section-Style
{
    position: relative;
}
.links-con .list-links .Section-Style:not(:first-child)::after
{
    position: absolute;
    content: ""; 
    background-color:var(--LighttitleColor);
    width: 1px;
    height: 50%;
    top: 50%;
    transform: translate(0%,-50%);
}

.links-con .list-links .Section-Style a
{
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    font-size: 26px;
    color: var(--BackgroundColor);
    font-weight: 400;
    transition: all .5s;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}